<h1>Submit a New Blender Job</h1>

<br />
<br />

<form action="<%= url("/blend/frames") %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="blendFile">Upload Blend File</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="blendFile" id="blendFile" accept=".blend" required>
                <label class="custom-file-label" for="blendFile" id="fileName">Choose file</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="project_name">Project</label>
        <input type="text" name="project_name" class="form-control" id="project_name" required>
        <small class="form-text text-muted">Project to bill RUs to. Ex: PZS000</small>
    </div>
    <div class="form-group">
        <label for="num_cpus">How Many CPUs</label>
        <input type="number" name="num_cpus" class="form-control" id="num_cpus" value="28" min="1" max="28" required>
        <small class="form-text text-muted">More CPUs means less time rendering.</small>
    </div>
    <div class="form-group">
        <label for="frame_range">Range of Frames Rendered</label>
        <input type="text" name="frames_range" class="form-control" id="frames_range" pattern="(\d+\.\.\d+)|(\d+(?:,\d+)*)" required>
        <small class="form-text text-muted">Ex: "1..10" renders frames 1-10, "1,3,5" renders frames 1, 3 and 5...</small>
    </div>
    <div class="form-group">
        <label for="num_cpus">Walltime</label>
        <small class="form-text text-muted">Hours</small>
        <input type="number" name="num_hours" class="form-control" id="num_hours" value="1" min="0" max="120" required>
        <small class="form-text text-muted">Minutes</small>
        <input type="number" name="num_minutes" class="form-control" id="num_minutes" value="0" min="0" max="59" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<br>

<script>

    // Get the file input
    var input = document.getElementById('blendFile');
    
    // Get label where the file name will be displayed
    var infoArea = document.getElementById('fileName');
    
    // Detect when a new file is selected
    input.addEventListener('change', showFileName);
    
    // Function to change the file name label when a new file is selected
    function showFileName(event) {
      
      // Get the file input where a new file was selected
      var input = event.srcElement;
      
      // Get the name of the first file in the input
      var fileName = input.files[0].name;
      
      // Change the label to display the file name
      infoArea.textContent = 'File chosen: ' + fileName;
    }
    
</script>