<h1>Submit a New Blender Job</h1>

<br />
<br />

<form action="<%= url("/blend/frames") %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="blendFile">Upload Blend File</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="blendFileTag">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="blendFile" id="blendFile" accept=".blend">
                <label class="custom-file-label" for="blendFile" id="fileName">Choose file</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="num_nodes">Project</label>
        <input type="text" name="project_name" class="form-control" id="project_name">
        <small class="form-text text-muted">Project to bill RUs to. Ex: PZS000</small>
    </div>
    <!--
    <div class="form-group">
        <label for="num_nodes">How Many Nodes</label>
        <input type="number" name="num_nodes" class="form-control" id="num_nodes" min="1">
        <small class="form-text text-muted">More nodes used means less time rendering.</small>
    </div>
    -->
    <div class="form-group">
        <label for="num_cpus">How Many CPUs</label>
        <input type="number" name="num_cpus" class="form-control" id="num_cpus" min="1" max="28">
        <small class="form-text text-muted">More CPUs means less time rendering.</small>
    </div>
    <div class="form-group">
        <label for="frame_range">Range of Frames Rendered</label>
        <input type="text" name="frames_range" class="form-control" id="frames_range">
        <small class="form-text text-muted">Ex: "1..10" renders frames 1-10, "1,3,5" renders frames 1, 3 and 5...</small>
        <!--<small class="form-text text-muted">Upper bound</small>-->
        <!--<input type="number" name="num_upper_bound" class="form-control" id="num_upper_bound" min="2" max="28">-->
    </div>
    <!--<div class="form-group">-->
    <!--    <input type="checkbox" name="renderthumbnails"> Render thumbnails/pictures?<br>-->
    <!--    <input type="checkbox" name="rendermovie"> Render movie?<br>-->
    <!--</div>-->
    <div class="form-group">
        <label for="num_cpus">Walltime</label>
        <small class="form-text text-muted">Hours</small>
        <input type="number" name="num_hours" class="form-control" id="num_hours" min="0" max="120">
        <small class="form-text text-muted">Minutes</small>
        <input type="number" name="num_minutes" class="form-control" id="num_minutes" min="0" max="59">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<br>

<script>
    var input = document.getElementById( 'blendFile' );
    var infoArea = document.getElementById( 'fileName' );
    
    input.addEventListener( 'change', showFileName );
    
    function showFileName( event ) {
      
      // the change event gives us the input it occurred in 
      var input = event.srcElement;
      
      // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
      var fileName = input.files[0].name;
      
      // use fileName however fits your app best, i.e. add it into a div
      infoArea.textContent = 'File chosen: ' + fileName;
    }
</script>