<h1>Submit a New Blender Job</h1>

<br />
<br />

<form accept-charset="UTF-8" action="<%= url("/job") %>" method="post">
    <div class="form-group">
        <label for="blend_file_path">Path to Blend file</label>
        <input type="text" name="blend_file_path" id="blend_file_path" placeholder="/home/username/project/file.blend" class="form-control">
    </div>
    <div class="form-group">
        <label for="num_cpus">How Many CPUs</label>
        <input type="number" name="num_cpus" class="form-control" id="num_cpus" min="1" max="28">
        <small class="form-text text-muted">More CPUs means less time rendering</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>